// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.drop-login{
      padding: 8px;
      background-color: #15A4FA;
      left: 16px;
      position: relative;
}
